apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mockai.fullname" . }}
  labels:
    {{- include "mockai.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "mockai.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "mockai.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.config.SERVER_PORT }}
          protocol: TCP
        volumeMounts:
        - name: config
          mountPath: /app/.env
          subPath: .env
        {{- with .Values.mockResponses }}
        - name: config
          mountPath: /app/data/contents.txt
          subPath: contents.txt
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      volumes:
      - name: config
        configMap:
          name: {{ include "mockai.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
